/*                     */
/* All Across The Page */
/*                     */

@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

a {
	color: white;
	text-decoration: none;
}

/*                */
/* Navigation Bar */
/*                */

#navbar[deactivated], #navbar[activated] {
	padding: 25px;
	color: white;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	height: 75px;
	display: flex;
	width: 100%;
	position: fixed;
	font-family: 'Karma', cursive;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	transition: all 400ms ease-in-out;
}

#navbar[activated] {
	z-index: 2;
	opacity: 1;
}

#navbar-links-left, #navbar-title, #navbar-links-right {
	flex: 1;
}

#navbar-links-left, #navbar-links-right {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.navbar-link {
	cursor: pointer;
	border-radius: 8px;
	padding: 5px;
}

.navbar-link:hover {
	box-shadow: 0 0 0 1px white;
}

#navbar-title {
	text-align: center;
}

/* Content */

#scroll-wrapper {
	height: 100vh;
	width: 100vw;
	position: absolute;
	overflow-y: scroll;
}

/* Landing Page */

#background {
	position: absolute;
	z-index: -1;
	height: 100vh;
	background-attachment: fixed;
	width: 100vw;
	opacity: 100%;
	object-fit: cover;
}

#background[fadeOut] {
	animation: backgroundFadeOut 1s ease-in-out forwards;
}


#background[fadeIn] {
	animation: backgroundFadeIn 1s ease-in-out forwards;
}

@keyframes backgroundFadeOut {
	0% {opacity: 100%;}
	100% {opacity: 30%;}
}

@keyframes backgroundFadeIn {
	0% {opacity: 30%;}
	100% {opacity: 100%;}
}

#landing {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#landing-title {
	font-size: 70px;
	color: white;
	font-family: 'Karma', cursive;
}

#title-first, #title-second {
	opacity: 0;
}

#title-first[activated], #title-second[activated] {
	animation: appear 2s ease-in-out forwards;
}

@keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* Overview */
.section {
	height: 100vh;
	width: 100vw;
	padding: 25px;
}

.title {
	color: white;
	text-align: center;
	padding-bottom: 25px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bolder;
	font-size: 40px;
}

#overview-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

#overview-image {
	height: 400px;
	border-radius: 50%;
	width: 400px;
}

.desc {
	color: white;
	font-size: 1.2rem;
	font-family: 'Noto Sans', sans-serif;
}

.title-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#has-subtitle {
	padding: 0;
}

.subtitle {
	color: white;
	text-align: center;
	padding-bottom: 25px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 5px;
	font-size: 20px;
}

#meaning {
	padding: 25px;
	text-align: center;
}

#links-title {
	padding: 0;
}

#link-disclaimer {
	color: white;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	padding: 25px;
}

#red {
	color: red;
	font-weight: 600;
}

#links-wrapper {
	display: flex;
	justify-content: center;
	padding: 0 30px 0 30px;
}

.link-name {
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-family: 'Noto Sans', sans-serif;
	font-weight: bolder;
	color: white;
}

.link-source {
	font-size: clamp(0.6rem, 2vw, 0.8rem);
	font-family: 'Noto Sans', sans-serif;
	font-weight: bolder;
	color: gainsboro;	
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	width: 50%;
	border-radius: 8px;
	background-color: #323232;
}

.link-images-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.link-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.link-images {
	width: 32px;
	height: 32px;
}

